{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Books</h1>
    <a href="{% url 'create_book' %}" class="btn btn-success mb-3">Create a new book</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication date</th>
                <th>Number of pages</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publication_date }}</td>
                <td>{{ book.number_of_pages }}</td>
                <td>KSH. {{ book.price }}</td>
                <td>
                    <a href="{% url 'update_book' book.id %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url 'delete_book' book.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}